* {
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 88, 32);
}


div {
    padding: 30px;
}





div .col {
     /* border: 2px solid white; */
} 


img {
    height: 120px
}


#winner-display {
    font-size:  70px;
    color: red
}


#score-display {
    color: yellow;
} 

#turn-display {
    color: yellow;
} 



.big-font{
    font-size:  30px;
    color: red
}