* {
    box-sizing: border-box;
}


div {
    padding: 50px;
    background-color: rgb(23, 88, 32);

}





div .col {
    border: 2px solid white;
} 


img {
    height: 120px
}


#winner-display {
    font-size:  70px;
    color: red
}


#score-display {
    color: yellow;
} 

#turn-display {
    color: yellow;
} 



.big-font{
    font-size:  30px;
    color: red
}